@import 'libs/breakpoints';
@include breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( null,    480px  ),
	));

.xy{
	
	background-image: url('../Images/100.png');
	height: 45vw;
	width: 90vw;
	float: right;
    background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	margin-top: -5vw;
	margin-right: -0.5vw;
	
}
.yz{
	background-image: url('../Images/99.png');
	height: 68vw !important;
	width: 68vw !important;
	float: left;
    background-repeat: no-repeat;
	background-position: right;
	z-index: 99999 !important;
	background-size: cover;
	margin-top: -55vw;
	margin-left: -21vw;		
}
.c{
	height: 40vw; 
	width: auto;
	display: flex;
	@include breakpoint('<=small') {
		
	}
}
.d{
	margin-top: -33vw;
	margin-left: -40vw;
	box-sizing: border-box;
	// height: 30vw;
	// width: 40vw;
	display: grid;
	h4{
		font-size: 3vw;
		font-weight: 200;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	h1{
		font-size: 7vw;
		font-weight: 600;
		margin-top: -5vw;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}

	p{
		margin-top: -4vw;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 1.5vw;
		line-height: 2.2vw;
	}
	button{
		background-color: white;
		padding: 1.5vw 3.5vw;
		border-radius: 3vw;
		background-color: white;
		font-weight: 600;
	}
	@include breakpoint('<=small') {
		
		button{
			padding: 1vw 3vw;
			font-size: 1.5vw;
		}
		
	}

}
.g{
	width: 10%;
	height: 0.5vw;
	background: white;
	margin-top: -19vw;
	margin-left: -40vw;
}
.h{
	display: grid;
}

.e{
	width: 60%;
	display: grid;
	grid-template-columns: auto auto auto;
}
.f{
	box-sizing: border-box;
	display: inline-block;
	height: 20vw;
	width: 20vw;
	padding: 1em;
    img{
		height: 4vw;
		width: auto;
	}
	h6{
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 1vw;
		line-height: 1.2vw;
	}
	p{
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 1vw;
		line-height: 1.4vw;
		font-weight: lighter;
	}
}
.i{
	
	margin-left: 5vw;
	display: grid;
	grid-template-columns: auto auto;
	margin-top: 1vw;
	padding-top: -40em;
	margin-right: 1vw;
}
.j{
	margin-top: 12vw;
}
.k{
	margin-top: -13vw;
	background: white;
	display: inline-block;
	width: 100%;
	margin-left: -1vw;	
}
.l{
	h1{
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 3vw;
		line-height: 1.2vw;
	}
	h3{
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 2vw;
		line-height: 1.2vw;
	}
	p{
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 1vw;
		line-height: 1.4vw;
		font-weight: lighter;
	}
	button{
		background-color: rgb(179, 179, 179);
		padding: 1.5vw 4.5vw;
		border-radius: 3vw;
		background-color: rgb(177, 177, 177);
		font-weight: 600;
		margin-left: 18vw;
		margin-top: 12vw;
		color: white;
	}
	@include breakpoint('<=small') {
		
		button{
			padding: 1vw 4vw;
			font-size: 1vw;
		}
		
	}
}

.m{
	margin-bottom: 30vw;
	float: right;
	margin-top: -51.6vw;
	@include breakpoint('<=small') {
		
		margin-top: -54vw;
		
	}
	ul{
		display: grid;
		grid-template-columns: auto auto auto auto auto auto auto auto;
		border-top: solid white 1px;
		padding: 1.6vw;
	}
	li{
		font-size: 1vw;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		margin-right: 2.3vw;
		color: white;
		list-style-type: none;
		button{
		background-color: rgb(255, 255, 255);
		padding: 0.5vw 1vw;
		border-radius: 3vw;
		background-color: rgb(255, 255, 255);
		font-weight: 600;
		color: black;
		margin-top: -2vw;
		}
		@include breakpoint('<=small') {
		    margin-right: 1.7vw;
			button{
				padding: 0.5vw 1vw;
				font-size: 1vw;
			}
			
		}
	}
}

.n{
	float: right;
	margin-top: -41vw;
	@include breakpoint('<=small') {
		
		margin-top: -46vw;
		
	}
	ul{
		display: grid;
		grid-template-columns: auto auto auto auto auto;
		
	}
	li{
		margin-right: 2vw;
		list-style-type: none;
		padding-left: 1vw;
	}
	p{
		font-size: 1vw;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		color: white;
		margin-top: -1.6vw;
		margin-left: 1.8vw;
		@include breakpoint('<=small') {
		
			margin-top: -2.1vw;
			
		}
	}
}
.o{
	border-left: solid 1px white;
}
.p{
	img{
		height: 1.3vw;
		width: 1.3vw;
	}
}
.q{
	img{
		height: 1.6vw;
		width: 1.6vw;
	}
}

  

  

